<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        <%= button_to "Player search"%>
        <%= button_to "Band search"%>
        <%= button_to "Custom search"%>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyCZ0p8CYBsSj2Id4aqgOIuvbOnDjUN9w5k&format=png&visual_refresh=true"
        width="600" alt="Google Map of Albany, NY" >

        <span> "Do you want to create your own group?" </span>
        <%= link_to 'Become a leader!', '#' %>
      </h2>
    </section>
  </aside>
</div>
