<!--<% content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!--<% provide(:title, @band.name) %>-->
        <h1>
        </h1>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <span> Your band: </span>
        <%= @band.name %>
        <br/>
        <br/>
        <span> Other members: </span>
        <%= @band.member_2.name if @band.member_2 %>
        <%= @band.member_3.name if @band.member_3 %>
        <%= @band.member_4.name if @band.member_4 %>
        <%= @band.member_5.name if @band.member_5 %>
        <br/>
        <br/>
        <span> Location: </span>
        <%= @band.location %>
        <br/>
        <br/>
        <span> Looking for other members: </span>
        <%= @band.open ? "yes" : "no" %>
        <br/>
        <br/>

        <%= button_to "Change group info"%>
        <%= link_to 'Disband the group', '#' %>
    </div>

</div>

